.comment {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 12px;
    justify-content: space-between;
    align-items: flex-start;
    &:first-of-type {
        margin-top: 12px;
    }
}

.comment-text {
    @include cardDescription();
    font-size: 0.9em;
    text-align: left;
}

.commentBox {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-top: 8px;
}

.comment__author-text {
    align-self: flex-start;
}

.comment-message {
    width: 70%;
}

.comment-buttons {
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: flex-start;
}

.comment-button {
    width: 8px;
    height: 8px;
    background-size: 8px 8px;
    background-repeat: no-repeat;
    background-color: inherit;
    border: none;
    cursor: pointer;
    &:hover{
        opacity: 0.3;
    }
}

.comment-author {
    background-color: #fff;
}