.CommentContainer {
  width: 90%;
  margin: 0 auto;
  @include flexColumn();
  @media screen and (max-width: 899px) {
    padding: 12px;
  }
}

.CommentContainer__title {
  @include cardDescription();
  text-align: left;
  margin-bottom: 8px;
  padding-bottom: 6px;
  border-bottom: 1px solid #ffff;
  border-radius: 2px;
  @media screen and (max-width: 899px) {
    align-self: flex-start;
  }
}
