.userForm {
  @include flexColumn();
  justify-content: normal;
  flex-grow: 1;
  width: 800px;
  padding: 80px 2%;
  @media screen and (min-width: 600px) and (max-width: 999px) {
    width: 80%;
    padding: 80px 0 40px;
  }
  @media screen and (max-width: 599px) {
    width: 90%;
    padding: 32px 0 30px;
  }
}

.userForm__form-box {
  margin-bottom: 20px;
}

.userForm-profile {
  @include flexColumn();
  width: 100%;
  padding: 0;
}

.userForm-editPopup {
  @include flexColumn();
  width: 100%;
}

.userForm__title {
  @include title();
  margin-bottom: 54px;
  @include padding();
}

.userForm__title-comment,
.userForm__title-important {
  @media screen and (max-width: 420px) {
    padding-left: 0;
    margin-left: 0 !important;
  }
}

.userForm__margin {
  margin-left: 8px;
}

.userForm__form {
  @include flexColumn();
  width: 100%;
}

.userForm__form-container {
  display: flex;
  justify-content: space-between;
  @media screen and (max-width: 420px) {
    flex-direction: column;
  }
}

.userForm__label {
  width: 45%;
  @include flexColumn();
  box-sizing: border-box;
  padding-bottom: 4px;
  @media screen and (min-width: 420px) and (max-width: 620px) {
    width: 48%;
  }

  @media screen and (max-width: 419px) {
    width: 90%;
    margin: 0 auto;
  }
}

.userForm__subtitle {
  font-size: 0.7em;
  line-height: 12px;
  font-weight: 400;
  color: #a0a0a0;
  text-align: left;
  margin-bottom: 10px;
}

.userForm__input {
  width: 100%;
  border: none;
  background-color: #f9f9f9;
  padding: 12px 8px;
  border-radius: 8px;
  font-size: 0.812em;
  line-height: 16px;
  font-weight: 400;
  color: #000;
}

.userForm__button {
  background-color: #6464b9;
  width: fit-content;
  padding: 12px 24px;
  text-align: center;
  border: none;
  border-radius: 8px;
  margin-top: 20px;
  &:hover {
    opacity: 0.3;
  }
  @media screen and (min-width: 421px) and (max-width: 700px) {
  }
  @media screen and (max-width: 420px) {
    margin-left: 5%;
  }
}

.userForm__button-text {
  @include link();
  text-align: center;
  color: #fff;
  @media screen and (max-width: 460px) {
    font-size: 1em;
    line-height: 15px;
  }
}

.userForm__button_disabled {
  @include buttonDisabled();
}
