.cardInformation {
  @include flexColumn();
  justify-content: normal;
  align-items: center;
  flex-grow: 1;
  width: 1200px;
  padding: 40px 10% 80px;
  @media screen and (min-width: 500px) and (max-width: 1499px) {
    width: 80%;
    padding: 40px 5% 40px;
  }
  @media screen and (max-width: 499px) {
    width: 92%;
    padding: 40px 5% 20px;
  }
}

.cardInformation__container {
  @include flexColumn();
  position: relative;
  width: 60%;
  border-radius: 20px;
  background: #6464b9;
  box-shadow: inset 5px 5px 19px #5d5dac, inset -5px -5px 19px #6b6bc6;
  @media screen and (min-width: 801px) and (max-width: 1260px) {
    width: 80%;
  }
  @media screen and (max-width: 800px) {
    width: 100%;
  }
}

.cardInformation__img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  @media screen and (max-width: 400px) {
    height: 300px;
  }
}

.cardInformation__img-null {
  background-image: url(../../images/malvestida-u79wy47kvVs-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 400px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
  @media screen and (max-width: 400px) {
    height: 300px;
  }
}

.cardInformation__box {
  width: 90%;
  margin: 20px auto 20px;
  display: flex;
  justify-content: center;
  @media screen and (max-width: 899px) {
    flex-direction: column;
    justify-content: center;
  }
  &:last-of-type {
    margin-bottom: 0;
  }
}
.cardInformation__box_second {
  display: flex;
  flex-direction: column;
  width: 28%;
}

.box-2 {
  justify-content: flex-start;
}

.cardInformation__price {
  width: 30%;
  font-size: 1.2em;
  line-height: 24px;
  font-family: "Roboto";
  @media screen and (max-width: 899px) {
    width: 100%;
  }
}

.cardInformation__description {
  @include cardDescription();
  width: 100%;
  @media screen and (max-width: 899px) {
    width: 92%;
    margin-top: 12px;
  }
}

.cardInformation__tel {
  color: #fff;
  border-radius: 8px;
  margin-bottom: 8px;
  @media screen and (max-width: 899px) {
    width: 60%;
    margin: 0;
  }
}

.cardInformation__price,
.cardInformation__tel,
.cardInformation__description {
  text-align: left;
  @media screen and (max-width: 899px) {
    text-align: left;
    padding-left: 12px;
  }
}
